@if (AiChatInteractionEntry != null)
{
    <div class="border-solid border-2 border-t-2 border-y-0 rounded-lg border-sky-600 p-2">
    <div class="flex sm:flex-row">
        <div class="text-xs w-2/6">@AiChatInteractionEntry.InteractionTimestamp.ToString("yyyy-MM-dd hh:mm")</div>
        <div class="text-xs w-4/6">@AiChatInteractionEntry.InteractionId</div>
    </div>
    <div>
        <div class="container w-5/6 m-1 p-2 rounded-lg rounded-bl-none bg-slate-800 ">
            <textarea class="ml-1 w-full text-sm" spellcheck="false" disabled
                rows="@CalculateRows(AiChatInteractionEntry.Input)">@AiChatInteractionEntry.Input</textarea>
        </div>
    </div>

    <div class="flex justify-end">
        <div class="container w-5/6 m-1 p-2 rounded-lg rounded-br-none bg-slate-800">
            <textarea class="mr-1 w-full text-sm" spellcheck="false" disabled
                rows="@CalculateRows(AiChatInteractionEntry.Output)">@AiChatInteractionEntry.Output</textarea>
        </div>
    </div>
</div>
}
else
{
    <p class="text-red-500">null</p>
}

@code {

    [Parameter]
    public AiChatInteractionEntry? AiChatInteractionEntry { get; set; }

    private int CalculateRows(string text)
    {
        return text.Length / 100;
    }
}
