@inject IJSRuntime JSRuntime
@inject ISender Sender
@inject IConnectionMultiplexer Connection

@if (Run == null)
{
    <p class="text-red-600">null run</p>
}
else
{
    <div class="xl:w-5/6 xl:mt-2">
        <p>EntityName @Run.EntityName</p>
    </div>

    <div class="xl:w-5/6 xl:mt-2">
        <div class="container">
            <p>System instructions</p>
        </div>
        <div class="container">
            <textarea cols="@_cols" rows="@_rows" value="@SystemInstructions" readonly></textarea>
        </div>
    </div>

    <div class="xl:w-5/6 xl:mt-2">
        <div class="container">
            <p>Context</p>
        </div>
        <div class="container">
            <textarea cols="@_cols" rows="@_rows" value="@Run.Context" readonly></textarea>
        </div>
    </div>

    <div class="xl:w-5/6 xl:mt-2">
        <div class="container">
            <p>Result</p>
        </div>
        <div class="container">
            <textarea cols="@_cols" rows="@_rows" value="@Run.Result" readonly></textarea>
        </div>
    </div>

    <p>Tokens @Run.NumberOfTokensEvaluated / @Run.NumberOfTokensContext</p>
    <p>Used model @Run.Model</p>
}
@code {

    [Parameter]
    public PromptStudioRun? Run { get; set; }

    private int _cols = 80;
    private int _rows = 8;

    protected override async Task OnInitializedAsync()
    {
        var windowWidth = await JSRuntime.InvokeAsync<int>("eval", "window.innerWidth");
        _cols = (int)Math.Round(windowWidth / 22.0);
        _cols = _cols < 80 ? 80 : _cols; // adjust if making mobile friendly version
        var windowHeight = await JSRuntime.InvokeAsync<int>("eval", "window.innerHeight");
        _rows = (int)Math.Round(windowHeight / 110.0);
        _rows = _rows < 8 ? 8 : _rows; // adjust if making mobile friendly version
    }

    private string SystemInstructions{
        get
        {
            if (Run == null)
                return string.Empty;

            else return string.Join("\n", Run.SystemInstructions);
        }
    }
}