@if (Element != null)
{
    switch (Element.Level)
    {
        case 1:
            <h1>@Element.Text</h1>
            break;
        case 2:
            <h2>@Element.Text</h2>
            break;
        case 3:
            <h3>@Element.Text</h3>
            break;
        case 4:
            <h4>@Element.Text</h4>
            break;
        case 5:
            <h5>@Element.Text</h5>
            break;
        case 6:
            <h6>@Element.Text</h6>
            break;
        default:
            <h1>@Element.Text</h1>
            break;
    }
}
@code {
    [Parameter]
    public MarkdownHeaderElement? Element { get; set; }
}
