@switch (Polarity)
{
    case Polarity.Positive:
        <Icon Name="emoji-smile-fill" Size="@_iconSize" Padding="@_iconPadding" />
        break;
    case Polarity.Negative:
        <Icon Name="emoji-frown-fill" Size="@_iconSize" Padding="@_iconPadding" />
        break;
    case Polarity.Unknown:
        <Icon Name="emoji-dizzy-fill" Size="@_iconSize" Padding="@_iconPadding" />
        break;
    default:
        <p>Error</p>
        break;
}
@code {
    [Parameter]
    public Polarity Polarity { get; set; }

    private readonly int _iconSize = 30;
    private readonly int _iconPadding = 1;
}