@switch (Polarity)
{
    case Polarity.Unknown:
        <Icon Name="emoji-dizzy-fill" Size="@IconSize" Padding="@IconPadding" />
        break;
    case Polarity.Negative:
        <Icon Name="emoji-frown-fill" Size="@IconSize" Padding="@IconPadding" />
        break;
    case Polarity.Neutral:
        <Icon Name="emoji-neutral-fill" Size="@IconSize" Padding="@IconPadding" />
        break;
    case Polarity.Positive:
        <Icon Name="emoji-smile-fill" Size="@IconSize" Padding="@IconPadding" />
        break;
    default:
        <p>Error</p>
        break;
}
@code {

    [Parameter]
    public Polarity Polarity { get; set; }

    [Parameter]

    public int IconSize { get; set; } = 30;

    [Parameter]

    public int IconPadding { get; set; } = 0;
}